@model DemoXuLyDuLieu.Models.Subject
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>updateSubject</title>
</head>
<body>
    <form method="post" action="~/Subject/updateSubjects">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <input type="text" name="name" value="@Model.SubjectName.Trim()" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>
